/* style.css */
body {
    background-image: url(imgs/background.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.portfolio-form{
    background-color:bisque;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.portfolio-form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
